<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mohobby.mapper.classes.ClassMapper">
	<insert id="insertClass" parameterType="com.yedam.mohobby.service.classes.ClassesVO">
		<selectKey keyProperty="classId" resultType="java.lang.Integer" order="BEFORE">
		select NVL(MAX(class_id), 0) + 1 from classes	
		</selectKey>
		insert into classes (
								class_id,
								keyword_id,
								region_id,
								member_id,
								class_name,
								class_price,
								class_info,
								img_amount,
								class_type,
								cert_able,
								cert_standard,
								bank_code,
								account,
								postcode,
								address,
								address_detail,
								start_date,
								end_date,
								account_holder
							) 
		values (
					#{classId},
					#{keywordId, jdbcType=VARCHAR},
					#{regionId},
					#{memberId},
					#{className},
					#{classPrice},
					#{classInfo, jdbcType=VARCHAR},
					#{imgAmount, jdbcType=INTEGER},
					#{classType},
					#{certAble},
					#{certStandard, jdbcType=INTEGER},
					#{bankCode},
					#{account},
					#{postcode},
					#{address},
					#{addressDetail, jdbcType=VARCHAR},
					#{startDate, jdbcType=DATE},
					#{endDate, jdbcType=DATE},
					#{accountHolder}
				)
	</insert>
	
	<!-- 목록조회 -->
	<select id="listAll" parameterType="com.yedam.mohobby.service.classes.ClassListRequestVO" resultType="com.yedam.mohobby.service.classes.ClassesVO">
		select * from (
		select distinct k.*, b.nickname, w.keyword_name
		from
		    (select  NVL(u.review, 0) reviewTotal, decode(m.target_id, null, 0, 1) jjim, NVL(x.jjim, 0)jjimTotal, c.* 
		    from class c,
		        (
		        select * 
		        from jjim 
		        where target_type = 1 
		        and member_id = <if test="memberId == null">null</if> <if test="memberId != null">#{memberId}</if>
		        ) m,
		        (
		        select count(*)jjim, target_id 
		        from jjim 
		        where target_type = 1 
		        group by target_id
		        ) x,
		        (select count(*)review, class_id from class_board where board_type = 4 group by class_id) u
		    where c.class_id = m.target_id(+)
		    and c.class_id = x.target_id(+)
		    and c.class_id = u.class_id(+)) k, 
		member b, keyword w
		where k.member_id = b.member_id
		and k.keyword_id = w.keyword_id)
		<if test='catg != "all"'>
		where keyword_id = #{catg}
		</if>
		order by class_id desc
	</select>
	
	<!-- 단건조회 -->
	<select id="listOne" parameterType="com.yedam.mohobby.service.classes.ClassListRequestVO" resultType="com.yedam.mohobby.service.classes.ClassesVO">
		select
		    nvl(cptt.chap, 0)chapTotal, nvl(crtt.curr, 0)currTotal, nvl2(j.target_id, 1, 0)jjim, nvl(q.qnaTotal, 0) qnaTotal, nvl(r.reviewTotal, 0)reviewTotal, c.*, m.nickname
		from
		    (select count(*)qnaTotal, class_id from class_board where board_type = 1 group by class_id)q,
		    (select count(*)reviewTotal, class_id from class_board where board_type = 4 group by class_id)r,
		    (select * from jjim where target_type=1 and member_id = <if test="memberId == null">null</if> <if test="memberId != null">#{memberId}</if>)j,
		    class c,
		    member m,
		    (select cl.class_id, cp.chap
		    from class cl, (select count(chap_id) chap, class_id
		    from class_chapter
		    group by class_id) cp
		    where cl.class_id = cp.class_id(+))cptt,
		    (select class_id, count(mu.curr_id) curr
		    from(
		    select z.class_id, y.chap_id, i.curr_id
		    from class z, class_chapter y, class_curriculum i
		    where z.class_id = y.class_id(+)
		    and y.chap_id = i.chap_id(+))mu
		    group by class_id)crtt
		where c.class_id = q.class_id(+)
		and c.class_id = r.class_id(+)
		and c.class_id = j.target_id(+)
		and c.class_id = cptt.class_id(+)
		and c.class_id = crtt.class_id(+)
		and c.member_id = m.member_id
		and c.class_id = #{classId}
		
	</select>
	
	<!-- 찜등록 -->
	<insert id="addJjim" parameterType="com.yedam.mohobby.service.communal.JjimVO">
		insert into jjim(target_id, target_type, member_id) values(#{targetId}, 1, #{memberId})
	</insert>
	
	<!-- 찜삭제 -->
	<delete id="deleteJjim" parameterType="com.yedam.mohobby.service.communal.JjimVO">
		delete from jjim where target_id = #{targetId} and target_type = 1 and member_id = #{memberId}
	</delete>
   
</mapper>