<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mohobby.mapper.chat.ChatMapper">
<!-- 안읽은 메시지수ㅡ 추출 -->
<select id="getNonReadChat"
		resultType="com.yedam.mohobby.service.chat.NonReadChatVO"
		parameterType="com.yedam.mohobby.service.chat.ChatVO">
		select a.room_no,count(*) as non_read_count
		from chat a join room b
		on (a.room_no=b.room_no)
		where b.member_id =#{memberId}
		and a.msg_time>b.check_time
		group by a.room_no
	</select>
	<!-- 1:1 채팅방 추출 -->
	<select id="getChatRoom"
		resultType="com.yedam.mohobby.service.chat.RoomVO"
		parameterType="String">
		SELECT
		c.nickname,
		c.room_no,
		c.profile_img,
		d.content,
		d.msg_time,nvl(null,0)check_in ,nvl(null,0)non_read_chat
		FROM
		(
		SELECT
		a.nickname,
		a.profile_img,
		b.room_no
		FROM
		member a
		JOIN room b ON (
		a.member_id = b.member_id )
		WHERE
		b.member_id IN (
		SELECT
		member_id
		FROM
		room
		WHERE
		room_no IN (
		SELECT
		room_no
		FROM
		room
		WHERE
		member_id = #{memberId}
		)
		AND member_id NOT IN #{memberId}
		)
		ORDER BY
		b.room_no
		) c
		JOIN (
		SELECT
		content,
		room_no,
		msg_time
		FROM
		chat
		WHERE
		msg_time
		IN (
		SELECT
		MAX(msg_time)
		FROM
		chat
		WHERE
		room_no IN (
		SELECT
		room_no
		FROM
		room
		WHERE
		member_id = #{memberId}
		and moim_id=0
		)
		GROUP BY
		room_no
		)
		) d ON (
		c.room_no = d.room_no )
	</select>
	<!-- 소모임 채팅목록 추출 -->
	<select id="getChatMoimRoom"
		resultType="com.yedam.mohobby.service.chat.RoomVO"
		parameterType="String">
		select a.content as content, a.msg_time,b.moim_name as
		nickname,room_no , b.moim_img as
		profile_img,nvl(null,0)check_in ,nvl(null,0)non_read_chat from(
		SELECT
		content,
		room_no,
		msg_time
		FROM
		chat
		WHERE
		msg_time IN (
		SELECT
		MAX(msg_time)
		FROM
		chat
		WHERE
		room_no IN (
		SELECT
		room_no
		FROM
		room
		WHERE
		member_id = #{memberId}
		and
		moim_id=1
		)
		GROUP BY
		room_no
		)) a join(
		select moim_id,moim_img,moim_name
		from moim
		where moim_id in(
		SELECT
		room_no
		FROM
		room
		WHERE
		member_id =
		#{memberId}
		and moim_id=1)) b on (a.room_no=b.moim_id)
	</select>
	<!-- 채팅내역 추출 -->

	<select id="getChat"
		resultType="com.yedam.mohobby.service.chat.ChatVO"
		parameterType="String">
		select
		content,member_id,room_No,to_char(msg_time,'mi')as
		minute,to_char(msg_time,'HH24') as hour
		from chat
		where
		room_no=#{roomNo}
		order by chat_id
	</select>
	<!-- 채팅상대 추출 -->
	<select id="getTargetId" resultType="String"
		parameterType="com.yedam.mohobby.service.chat.ChatUserVO">
		select member_id
		from room
		where room_no =#{roomNo}

	</select>
	<!--대화내역 저장 -->
	<insert id="insertMessage"
		parameterType="com.yedam.mohobby.service.chat.ChatVO">
		insert into chat(
		CHAT_ID,
		ROOM_NO,
		CONTENT,
		MEMBER_ID)
		values(
		CHAT_ID_SEQ.nextval,
		#{roomNo},
		#{content},
		#{memberId}
		)
	</insert>
	<insert id="createRoom"
		parameterType="com.yedam.mohobby.service.chat.CreateRoomVO">
		DECLARE
		v_check VARCHAR2(100);
		v_room_id room.room_no%TYPE
		:= chat_room_id_seq.nextval;
		v_my_id room.member_id%TYPE := #{myId};
		v_target_id room.member_id%TYPE := #{targetId};
		BEGIN
		SELECT
		CASE
		WHEN NOT
		EXISTS (
		SELECT
		room_no
		FROM
		room
		WHERE
		room_no IN (
		SELECT
		room_no
		FROM
		room
		WHERE
		member_id = v_my_id
		AND moim_id = 0
		)
		AND member_id = v_target_id
		)
		THEN
		0
		END test
		INTO v_check
		FROM
		dual;

		IF v_check = 0 THEN
		FOR i IN 1..2
		LOOP
		INSERT INTO room (
		room_no,
		member_id,
		moim_id,
		CHECK_IN
		) VALUES (
		v_room_id,
		v_my_id,
		0,
		0
		);
		v_my_id :=
		v_target_id;
		END LOOP;
		END IF;
		END
	</insert>
	<update id ="updateCheckTime" parameterType="com.yedam.mohobby.service.chat.ChatUserVO">
	update room set check_time = sysdate
where member_id =#{memberId}
and room_no=#{roomNo}
	</update>
	
</mapper>