<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mohobby.mapper.chat.NoticeMapper">
	<!-- 알림 전체조회 -->
	<select id="getAllNotice" parameterType="String"
		resultType="com.yedam.mohobby.service.notice.NoticeVO">
		select *
		from
		notice
		where member_id =#{memberId}
	</select>
	<!-- 알림 등록 -->
	<insert id="insertNotice"
		parameterType="com.yedam.mohobby.service.notice.NoticeVO">
		insert into notice(MEMBER_ID,
							AVATAR,
							TITLE,
							SUBTITLE,
							NOTICE_ID,
							NOTICE_TYPE,
							BOARD_TYPE,
							MOIM_ID,
							POST_ID,
							CONTENT_TYPE)
		values(				#{memberId},
							#{Avatar},
							#{Title},
							#{Subtitle},
							notice_seq.nextval,
							#{noticeType},
							#{boardType},
							#{moimId},
							#{postId},
							#{contentType}
		)
	</insert>
	<!-- 알림 삭제 -->
	<delete id="delectNotice" parameterType="integer">
		delete from notice where notice_id=#{noticeId}
	</delete>

	<!-- 알림번호 조회 -->
	<select id="getNoticeId" resultType="integer">
		select nvl(Max(notice_id),0)+1
		from notice
	</select>

</mapper>
