<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mohobby.mapper.moim.MoimMapper">

<!-- 소모임 등록 -->
<insert id="moimInsert" parameterType="com.yedam.mohobby.service.moim.MoimVO">
<selectKey keyProperty="moimId" resultType="Integer" order="BEFORE">
   SELECT NVL(MAX(moim_id), 0)+1 FROM moim
</selectKey>
INSERT INTO moim (
            moim_id,
            moim_img,
            moim_name,
            moim_info,
            moim_catg,
            moim_region,
            max_people
            )
         VALUES
            (
            #{moimId},
            #{moimImg},
            #{moimName},
            #{moimInfo},
            #{moimCatg},
            #{moimRegion},
            #{maxPeople}
            )
</insert>
<!-- 소모임 모집 전체 조회(6개씩) -->
<select id="moimrecruitMember" resultType="com.yedam.mohobby.service.moim.MoimVO">
   select * from moim <![CDATA[where rownum <= 6]]>
</select>

<!-- 인기소모임 조회 -->
<select id="moimPopularSelect" resultType="com.yedam.mohobby.service.moim.MoimVO">
   SELECT * FROM moim <![CDATA[where rownum <= 6]]> ORDER BY reg_cnt DESC
</select>

<!-- 소모임 중첩 검색 -->
<select id="moimAllSearch" parameterType="hashMap" resultType="com.yedam.mohobby.service.moim.MoimVO">
   SELECT * FROM moim
   where 1=1
      <if test ="moimName != null and moimName != ''">
          and moim_name = #{moimName}
      </if>  
      <if test="moimCatg != null and moimCatg != ''">
          and moim_catg = #{moimCatg}
      </if>
   ORDER BY moim_id DESC
</select>

<!-- 소모임명 검색 -->
<!-- <select id="moimNameSelect" resultType="com.yedam.mohobby.service.moim.MoimVO">
   select * from moim where moim_name Like '%#{moim_name}%' order by moim_id DESC;
</select> -->

<!-- 소모임 카테고리 검색 -->
<!-- <select id="moimCatgSelect" resultType="com.yedam.mohobby.service.moim.MoimVO">
   select * from moim where moim_catg like '%#{moim_catg}%' order by moim_id DESC;
</select> -->

</mapper>