<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yedam.mohobby.mapper.admin.AdminChallMapper">

<!-- 챌린지 등록 -->
<insert id="insertChall" parameterType="com.yedam.mohobby.service.challenge.ChallengeVO">
insert into challenge (chall_id, keyword_id, day_cert, call_name, start_date, end_date, chall_info, chall_ptp, img_url, reward, sum_fee, pay_statis)
values (#{challId}, #{keywordId}, #{dayCert}, #{challName}, #{startDate}, #{endDate}, #{challInfo}, #{challPtp}, #{imgUrl}, #{reward}, #{sumFee}, #{payStatus})
</insert>

<!--  완료된 챌린지 목록 -->
<select id="getCompleteChall">
select a.chall_id, b.keyword_name, a.day_cert, a.chall_name, a.start_date, a.end_date, a.chall_ptp, a.reward, a.sum_fee, a.pay_status
from challenge a join keyword b
on a.keyword_id = b.keyword_id
where sysdate > a.end_date
</select>

<!-- 정산 상태 업로드 / 정산완료, 미정산 --> 
<update id="updateChallPayStatus" parameterType="integer">
update challenge set pay_status = #{payStatus}
</update>

<!-- 챌린지 결과 상세목록 -->


<!-- 챌린지 결과 상세목록 정산 상태 업로드 -->
 
<!-- 유저들 인증샷 목록 -->
<!-- <select id="getPhotoShotList">

</select> -->

<!-- 인증샷 업로드 / 승인, 반려 -->
<!-- <update id="updatePhotoShot">
</update> -->
<!--  -->
</mapper>